<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TRIO_Constructions.Properties.Settings.TRIOConstructionsInventoryConnectionString"
            connectionString="Data Source=DB-IT-USER;Initial Catalog=TRIOConstructionsInventory;User ID=sa;Password=dbit"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>